header {
		background-color: #4aaaa5;
}

section {
		background-color: purple;
	
		width: 960px;
		float: left;
		margin-left: 100px;
}

#div1 {
		background-color: #ffffff;
		
		width: 650px;
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;

}

#img1 {
		float:left;
		margin: 10px;
}

p {
	margin: 30px;
}
#div2 {
		background-color: #ffffff;
	
		width: 270px;
		margin-top: 10px;
		float: right;

}

footer {
		background-color: #666666;
		clear: both;
		height: 75px;
		text-align: center;
		font-size: 12px;

}

/*border: 2px, solid, #dddddd;
		padding: 40px;*/
